<div class="slider-container">
  <div
    class="slide"
    *ngFor="let slide of slides; let i = index"
    [class.active]="i === currentSlide"
  >
    <mat-card>
      <img mat-card-image class="img" [src]="slide.img" [alt]="slide.title" />
      <div class="button-container"></div>
      <div class="mje-slide-container">
        <mat-card-title>
          <div class="d-flex">
            <span class="mje-slide"> {{ slide.title }}</span>
            <span class="ubi" *ngIf="ubicacion"> {{ ubicacion.dir }}</span>
          </div>
        </mat-card-title>
        <button
          (click)="abrirModal(i + 1)"
          mat-fab
          extended
          class="button-trip"
        >
          <mat-icon>favorite</mat-icon>
          Buscar
        </button>
      </div>
    </mat-card>
  </div>
  <button mat-icon-button class="prev-button" (click)="prevSlide()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-icon-button class="next-button" (click)="nextSlide()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
