p {
  margin: 0;
  display: flex;
}

.icon-snack {
  margin: 0 5px;
}

.button-snack {
  border: solid 1px #b30937;
  color: #b30937;
  border-radius: 15px;
  background-color: #eecdd2;
  padding: 5px 25px;
}

.snackbar-container {
  width: 100%;
}
